{% extends 'base.html' %}

{% block title %}

<h1>연습 페이지</h1>

{% endblock title %}


{% block content %}

<hr>

{% for fruit in fruits %}
<p>{{ fruit }}</p>
{% endfor %}

{% for food in foods %}
<p>{{ forloop.counter }} {{ food }}</p>
{% endfor %}

<hr>

{% for user in user_list %}
<p>{{ user }} </p>
<p>{% empty %} sorry </p>
{% endfor %}

<hr>

{% if 'apple' in fruits %}
<p>사과가 있습니다.</p>
{% else %}
<p>사과 없음</p>
{% endif %}

<hr>

{% for fruit in fruits %}
{% if forloop.first %}
<p>첫 번째 과일은 {{ fruit }}입니다. </p>
{% else %}
<p>{{ fruit }}입니다.</p>
{% endif %}
{% endfor %}

<hr>

{% lorem 5 w %}

<hr>
{{ 'adkshfkjsnvx'|upper }}

<hr>
<p>{{ fruits|random }}</p>
<p>{{ fruits|length }}</p>

<hr>
<p>{{ 4|add:6 }}</p>

<hr>
<p>{% now "DATETIME_FORMAT" %}</p>
<p>{% now "SHORT_DATETIME_FORMAT" %}</p>
<p>{% now "DATE_FORMAT" %}</p>
<p>{% now "Y년 m월 d일 h:i" %}</p>

<hr>
{% now "Y" as current_year %}
<p>{{ current_year }}</p>

{% endblock  %}